[submodule "testing/insular-dicoms"]
	path = testing/insular-dicoms
	url = https://github.com/matthew-brett/insular-dicoms
[submodule "testing/example-dicom-functional"]
	path = testing/example-dicom-functional
	url = https://github.com/datalad/example-dicom-functional
